@import '../componets/dropdown';
@import '../componets/modal';

.header {
  background-image: url('https://sun9-49.userapi.com/c857016/v857016821/1fd1fd/kvTiRCFAz5U.jpg');
  padding-top: 30px;
  min-height: 450px;
  border-bottom: 15px solid $color-grey-light;

  >.header__content {
    width: auto;
    padding: 0 30px;
    margin: 0 auto;

    @include for-desktop-up {
      width: 1200px;
    }
  }

  &-line {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 5.2rem;
    text-transform: uppercase;
    font-weight: 100;
    opacity: 0.8;
  }

  &__content {
    .movie-card {
      display: flex;
      margin: 60px 0;

      &:hover {
        cursor: auto;
      }

      &__title {
        font-size: 5rem;
        &-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      }

      &__descrp {
        width: 100%;
        opacity: 1;
        margin-top: 10px;
      }

      &__img {
        margin-right: 30px;
      }
      &__rating {
        display: block;
        margin: 0 20px;
        padding: 13px;
        border-radius: 50%;
        border: 1px solid $color-light;
        font-size: 2.8rem;
        min-height: 64px;
        color: $color-green;
      }

      .menu__item,
      .menu__item:hover {
        opacity: 0;
        cursor: auto;
      }

      &__year {
        border: none;
        padding: 0;
        opacity: 1;
        margin-right: 40px;
      }

      &__year,
      &__runtime {
        font-size: 3rem;
        color: $color-pink;
      }

      &__full-descrp {
        display: block;
        opacity: 0.8;
        max-width: 600px;
      }

      &__info {
        flex-direction: column;
        justify-content: flex-start;
      }
      &__time {
        display: flex;
        margin: 30px 0;
      }

      &__runtime {
        display: block;
      }
    }
  }
}
